.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

$bgContainer: #b3b3b3;
$padWidth: 442px;
$padHeight: 272px;
header {
  background: rgb(255, 0, 191);
}
main {
  background: blue;
  height: 100%;
  .container {
    background-color: $bgContainer;
    outline: 5px solid orange;
    width: 660px;

    text-align: center;
    // position:relative;

    #keyGroup {
      position: relative;

      width: $padWidth;
      height: $padHeight;

      .key {
        float: left;
        width: 100px;
        height: 80px;
        margin-right: 11px;
        border-radius: 5px;
        box-sizing: border-box;
        padding-top: 30px;
        cursor: pointer;
        background-color: green;
        margin: 7px;
        box-shadow: black 3px 3px 5px;
      }
    }
  }
}

/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}
